@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 68.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

header {
  align-items: stretch;
  background: url(../../img/banner.jpg) no-repeat center center/cover;
  color: #fff;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 60rem;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    align-items: flex-start;
  }
}
.slogan__title {
  line-height: normal;
}
.slogan__paragraph {
  padding: 1rem;
}

.menu {
  text-align: center;
  list-style: none;
  margin-bottom: 3rem;
}
.menu__title {
  text-align: center;
}
.menu__title--span {
  font-weight: 300;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    gap: 2rem;
  }
  .menu__nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1rem;
  }
}
.container-primary {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .container-primary {
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}
.banner__title {
  margin: 1rem 0;
}
.banner__item {
  margin-bottom: 2rem;
  border-bottom: 1px solid #e1e1e1;
}

.btn-primary {
  background-color: #000;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 2rem 0;
  padding: 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
}
.btn-primary:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn-primary {
    display: inline-block;
  }
}

.btn-secondary {
  background-color: #784d3c;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 2rem 0;
  padding: 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
}
.btn-secondary:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn-secondary {
    display: inline-block;
  }
}

.workshop__title {
  font-size: 3rem;
}
.workshop__item {
  border-bottom: 1px solid #e1e1e1;
}
.workshop__item__title {
  font-size: 2.4rem;
}
.workshop__item__paragraph {
  margin: 1rem 0;
  font-size: 1.6rem;
}
.workshop__item__paragraph--span {
  font-weight: bold;
}

footer {
  height: 23vh;
  background-color: #000;
  color: #fff;
}
@media (min-width: 768px) {
  footer {
    height: fit-content;
  }
}

.info {
  text-align: center;
}
.info__paragraph {
  text-align: left;
  margin: 2rem 0;
}
.info__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  margin: 2rem 0;
}

.courses__title {
  text-align: center;
  margin: 1rem 0 4rem;
}
.courses__course {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  margin-bottom: 2rem;
}
.courses__course__img-container__img {
  max-width: 100%;
}
.courses__course__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.courses__course__info span {
  font-weight: bold;
}

.enters {
  text-align: center;
}
.enters__enter {
  padding: 1rem 0;
}
.enters__enter__info {
  text-align: left;
}
.enters__enter__info p {
  margin: 1rem 0;
}

.contact {
  background-image: url(../../img/contacto.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background-color: #fff;
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem;
}
.form__camp {
  gap: 2rem;
  margin-bottom: 2rem;
  display: flex;
}
.form__camp__label {
  flex: 0 0 9rem;
  text-align: right;
}
.form__camp__field {
  flex: 1;
  border: 1px solid #e1e1e1;
}
.form__camp__field--textarea {
  height: 20rem;
}

/*# sourceMappingURL=styles.css.map */
