.container-primary {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .container-primary {
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }    
}